<div class="img-projets">
    <div class="projets">
        <h1>Mes projets</h1>
        <ul>
            <app-card class="booking-card" 
                bkg="https://zupimages.net/up/21/01/jgqe.png" 
                name="Escape the DUT"
                lil_desc="Création d'un puzzle game" 
                [languages]="['C#']"
                desc="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eveniet perferendis culpa. Expedita architecto nesciunt, rem distinctio.">
            </app-card>
            <app-card class="booking-card"
                bkg="https://images.unsplash.com/photo-1580137197581-df2bb346a786?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
                name="Portfolio" 
                lil_desc="Le site que vous utilisez actuellement"
                [languages]="['Typescript', 'Angular']"
                desc="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eveniet perferendis culpa. Expedita architecto nesciunt, rem distinctio.">
            </app-card>
            <app-card class="booking-card"
                bkg="https://images.unsplash.com/photo-1580137197581-df2bb346a786?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
                name="Fur'Orléans" 
                lil_desc="Site web pour une association"
                [languages]="['Typescript', 'VueJS 3']"
                desc="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eveniet perferendis culpa. Expedita architecto nesciunt, rem distinctio.">
            </app-card>
            <app-card class="booking-card"
                bkg="https://zupimages.net/up/21/01/jgqe.png"
                name="DayRead Team Fansub" 
                lil_desc="Un site pour une team de sous-titrages"
                [languages]="['Wordpress']"
                desc="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eveniet perferendis culpa. Expedita architecto nesciunt, rem distinctio.">
            </app-card>
            <app-card class="booking-card"
                bkg="https://zupimages.net/up/21/01/jgqe.png"
                name="BadSteven" 
                lil_desc="Bot discord en python"
                [languages]="['Python']"
                desc="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eveniet perferendis culpa. Expedita architecto nesciunt, rem distinctio.">
            </app-card>
            <app-card class="booking-card"
                bkg="https://zupimages.net/up/21/01/jgqe.png"
                name="New World Bot" 
                lil_desc="Bot discord en javascript"
                [languages]="['Javascript']"
                desc="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eveniet perferendis culpa. Expedita architecto nesciunt, rem distinctio.">
            </app-card>
            <app-card class="booking-card"
                bkg="https://zupimages.net/up/21/01/jgqe.png"
                name="New World API" 
                lil_desc="API communicant avec un bot discord"
                [languages]="['GraphQL', 'NodeJS']"
                desc="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eveniet perferendis culpa. Expedita architecto nesciunt, rem distinctio.">
            </app-card>
        </ul>
    </div>
</div>