
* {
  margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.projets h1 {
  position: relative;
  text-align: center;
  font-size: 50px
}

.projets {
    position: relative;
    color: #edf0f1;
    text-decoration: none;
    margin: 50px
}

.projets h2 {
  color: #0a4870;
  font-weight: 500;
}

.language {
  position: relative;
  top: 9px;
  border: 1px solid rgb(255, 128, 217, 0.44) ;
  background-color: rgb(255, 128, 217, 0.44) ;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.projets ul .booking-card {
  position: relative;
  max-width: 411px;
  min-height: 600px;
  display: flex;
  flex: auto;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #0a4870;
  transition: 0.3s;
  font-size: 20px;
}
.projets ul .booking-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}

.projets ul .booking-card:hover::before {
  background: rgba(10, 72, 112, 0.6);
}


@media (max-width: 768px) {
  ul .booking-card::before {
    background: rgba(10, 72, 112, 0.6);
  }
  ul .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  ul .booking-card .informations-container {
    transform: translateY(0px);
  }
  ul .booking-card .informations-container .more-information {
    opacity: 1;
  }
}

h1 {
  margin: 10px 20px;
}