@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


li, a, button, .nav-link {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    background-color:#ff80d9;
    text-align: center;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color:#ff4fca;
}

header {
    display: flex;
    align-items: center;
    padding: 20px 1%;
    background-color:#ff80d9;
    justify-content: space-between;
}

header nav {
    background-color:#ff80d9;
}

.logo {
    position: relative;
    cursor: pointer;
    margin-right: 5%;
    font-size: 2rem;
    text-align: center;
}

.cta {
    padding: 10px 40px;
    margin-right: 20px;
    background-color: rgb(255, 52, 245,1);
    border: none;
    border-radius: 100px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(139, 0, 133, 0.8);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler {
    margin: auto;
}
