@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background: rgb(255,128,217);
  background: linear-gradient(180deg, rgba(255,128,217,1) 0%, rgba(255,0,236,1) 35%, rgba(255,15,187,1) 70%, rgba(135,0,76,1) 100%);
}