@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import "~angular-notifier/styles";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background: rgb(28,4,18);
background: linear-gradient(119deg, rgba(28,4,18,1) 0%, rgba(204,59,114,1) 47%);
}
