<section class="home">
    <div class="homecontent">
        <h1>Bienvenue sur mon portfolio !</h1>
        <span>Je m'appelle Louana Jenger, passionée et curieuse d'informatique, je me sers de ce site afin de disposer mes projets.
          (réussi ou non, en cours ou finis.)</span>
    </div>
    <div class="display-project">
        <h1>Mes projets</h1>
        <ul>
            <li class="booking-card"
                style="background-image: url(https://zupimages.net/up/21/06/7eqt.png)">
                <div class="book-container">
                    <div class="content">
                        <button class="btn">Voir le projet</button>
                    </div>
                </div>
                <div class="informations-container">
                    <h3 class="title">Escape the DUT</h3>
                    <p class="sub-title">Création d'un puzzle game</p>
                    <span class="language">C#</span>
                    <div class="more-information">
                        <p class="disclaimer">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eveniet
                            perferendis culpa.
                            Expedita architecto nesciunt, rem distinctio</p>
                    </div>
                </div>
            </li>
            <li class="booking-card"
                style="background-image: url(https://images.unsplash.com/photo-1580137197581-df2bb346a786?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);">
                <div class="book-container">
                    <div class="content">
                        <button class="btn">Voir le projet</button>
                    </div>
                </div>
                <div class="informations-container">
                    <h3 class="title">Portfolio</h3>
                    <p class="sub-title">Le site que vous utilisez actuellement</p>
                    <span class="language">Typescript</span>
                    <span class="language">Angular</span>
                    <div class="more-information">
                        <p class="disclaimer">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eveniet
                            perferendis culpa.
                            Expedita architecto nesciunt, rem distinctio</p>
                    </div>
                </div>
            </li>
            <li class="booking-card"
                style="background-image: url(https://images.unsplash.com/photo-1579489225078-27977a77bf72?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);">
                <div class="book-container">
                    <div class="content">
                        <button class="btn">Voir le projet</button>
                    </div>
                </div>
                <div class="informations-container">
                    <h3 class="title">Fur'Orléans</h3>
                    <p class="sub-title">Site web pour une association</p>
                    <span class="language">Typescript</span>
                    <span class="language">VueJS 3</span>
                    <div class="more-information">
                        <p class="disclaimer">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eveniet
                            perferendis culpa.
                            Expedita architecto nesciunt, rem distinctio</p>
                    </div>
                </div>
            </li>
        </ul>
        <a routerLink="projets" ><button>Voir plus...</button></a>
    </div>
</section>
